<h1>New Article</h1>

<%= form_with model: @article do |form| %>
<div style="width: 400px; margin: auto">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
</div>

<div style="width: 400px; margin: auto">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
</div>
    <div>
        <%= form.submit class: "btn btn-primary" %>
    </div>
<% end %>